<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <title>Template</title>

    <style>
      * {
        margin: 0;
        padding: 0;
      }
    </style>

    <script type="module" src="../src/index.js"></script>
  </head>
  <body>
    <!-- For V2 Test -->
    <div id="root">
      <div data-template="TEMPLATE" data-template-name="TEMPLATE01">
        <form id="form-group" data-group="GROUP" data-template-name="GROUP-01">
          <div data-list="LIST" data-template-name="LIST-01">
            <input
              type="text"
              name="username"
              data-item="ITEM"
              data-template-name="ITEM-011"
            />
            <input
              type="password"
              name="password"
              data-item="ITEM"
              data-template-name="ITEM-012"
            />
          </div>
        </form>
      </div>
      <!-- <div data-template="TEMPLATE" data-template-name="TEMPLATE02">
        <form id="form-group2" data-group="GROUP" data-template-name="GROUP-02">
          <div data-list="LIST" data-template-name="LIST-02">
            <input
              type="text"
              name="username"
              data-item="ITEM"
              data-template-name="ITEM-021"
            />
            <input
              type="password"
              name="password"
              data-item="ITEM"
              data-template-name="ITEM-022"
            />
          </div>
        </form>
      </div> -->
    </div>
    <!-- @@@@ V2 @@@@ -->

    <script type="module"></script>
  </body>
</html>
