<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <title>Template</title>

    <style>
      * {
        margin: 0;
        padding: 0;
      }
    </style>

    <script type="module" src="../src/index.js"></script>
  </head>
  <body>
    <div class="root"></div>
    <button class="temp-btn">button</button>
    <button id="tempBtn" data-button="iambutton">button</button>

    <script type="module">
      $.transport("https://fakestoreapi.com/products", {
        methods: "GET",
        success: function (data) {
          const elem = $.create("div");
          data.forEach((v) => {
            const elem = $.create("div");
            $.createElementFromString(elem, `<span>${v.title}</span>`);
            $(".root").append(elem);
          });
        },
        error: function (error) {
          console.log(error);
        },
      });

      $(".temp-btn").on("click", () => {
        alert("hi");
      });
      console.log($.attr("#tempBtn", "data-button"));
    </script>
  </body>
</html>
