<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <title>Template</title>

    <style>
      * {
        margin: 0;
        padding: 0;
      }
    </style>

    <script></script>
  </head>
  <body>
    <!-- For V2 Test -->
    <div id="root">
      <div data-template="TEMPLATE" data-template-name="FormTemplate">
        <form id="form-group" data-group="GROUP" data-template-name="FormGroup">
          <div data-list="LIST" data-template-name="InputList">
            <input
              type="text"
              name="username"
              data-item="ITEM"
              data-template-name="InputUserNameItem"
            />
            <input
              type="password"
              name="password"
              data-item="ITEM"
              data-template-name="InputUserPasswordItem"
            />
          </div>
        </form>
      </div>
    </div>
    <!-- @@@@ V2 @@@@ -->
  </body>
</html>
